.DS_Store
.env
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/

/backend/.env
/backend/.venv
/backend/moviepilot_requests.db
/backend/*.db

/miniapp/node_modules
/miniapp/dist
/miniapp/*.tsbuildinfo
